@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: "Arial", sans-serif;
  background-image: url("./images/main page.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.container {
  margin: 0 auto;
  margin-top: -30px;
  width: 980px;
}

header {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  margin: 20px 1%;
  font-weight: 600;
  color: #fcf9f9;
  padding: 20px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

header .Id {
  width: 100px;
  margin-left: 22px;
}
header .status-col {
  width: 145px;
}
header .Dry-col {
  width: 170px;
}
header .Wet-col {
  width: 170px;
}
header .Elec-col {
  width: 170px;
}
header .date-col {
  width: 145px;
}
header .add-col {
  width: 145px;
}

header label {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

ul.task-items li.item {
  display: flex;
  align-items: center;
  margin: 20px 4%;
  width: 940px;
  padding: 20px;
  background: rgb(241, 239, 239);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

ul.task-items li.item .task {
  display: flex;
  text-align: right;
  font-size: 1em;
  width: 100px;
  margin-left: 10px;
  justify-content: space-around;
}
ul.task-items li.item .task .Id {
  display: flex;
  background: #eeeeee;
  margin-left: 0;
  font-size: 1.25em;
  width: 20px;
  height: 25px;
  border-radius: 10px;
}
ul.task-items li.item .status {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #000000;
  width: 145px;
  margin-left: 10px;
}
ul.task-items li.item .status .icon {
  background: #d40000;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
ul.task-items li.item .status .icon.risk {
  background: red;
}
ul.task-items li.item .status .icon.warning {
  background: #ffa000;
}
ul.task-items li.item .status .icon.off {
  background: #bf360c;
}
ul.task-items li.item .Dry-col {
  width: 190px;
}
ul.task-items li.item .Dry-col progress {
  display: block;
  margin-left: 0;
  -webkit-appearance: none;
  height: 12.5px;
  width: 200.5px;
}
ul.task-items li.item .Dry-col progress::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 5px;
}
ul.task-items li.item .Dry-col ::-webkit-progress-value {
  background-color:#1914a6;
  border-radius: 5px;
}

ul.task-items li.item .Wet-col {
  width: 190px;
}
ul.task-items li.item .Wet-col progress {
  display: block;
  margin-left: 0;
  -webkit-appearance: none;
  height: 12.5px;
  width: 247.5px;
}
ul.task-items li.item .Wet-col progress::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 5px;
}
ul.task-items li.item .Wet-col ::-webkit-progress-value {
  background-color: #1914a6;
  border-radius: 5px;
}

ul.task-items li.item .Elec-col {
  width: 190px;
}
ul.task-items li.item .Elec-col progress {
  display: block;
  margin-left: 0px;
  -webkit-appearance: none;
  height: 12.5px;
  width: 150.5px;
}
ul.task-items li.item .Elec-col progress::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 5px;
}
ul.task-items li.item .Elec-col ::-webkit-progress-value {
  background-color: #1914a6;
  border-radius: 5px;
}

ul.task-items li.item .dates {
  margin-left: 20px 5%;
  width: 150px;
}
ul.task-items li.item .dates .bar,

ul.task-items li.item .add-col {
  margin-left: 20px 5%;
  width: 150px;
}
ul.task-items li.item .add-col .bar,
.back-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 50px;
  margin-top: 30px;
}
.back-icon__row {
  height: 10px;
  width: 30px;
  display: flex;
}
.back-icon__elem {
  height: 8px;
  width: 8px;
  margin-right: 2px;
  margin-bottom: 2px;
  background: red;
  border-radius: 38%;
}
